global
    stats socket ipv4@*:660 level admin
    log /dev/log local1 notice
    log stdout local0 info
    daemon

defaults
    log global
    mode http
    option httplog
    timeout connect 5000
    timeout client 5000
    timeout server 5000



frontend http-in
    bind *:${HAPROXY_PORT}    
    default_backend app-servers

backend app-servers
    balance leastconn
    option httpchk GET /health
    http-check expect status 200
    http-check disable-on-404   

listen stats
    bind :${HAPROXY_STATS_PORT}
    stats enable
    stats uri /monitoring
    stats auth admin:admin
