name: Deploy CloudFormation Stack
on:
  pull_request:
    branches:
      - main
    paths:
      - 'CFTemplate.yml'
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Image tag'
        required: true
        default: 'latest'
      environment:
        description: 'Environment'
        required: true
        default: 'PROD'
        options:
          - 'PROD'
          - 'DEV'
jobs:
  deploy-qa:
    runs-on: ubuntu-latest
    if: github.event_name != 'workflow_dispatch'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy CloudFormation Stack
        run: |
          aws cloudformation deploy \
            --template-file CFTemplate.yml\
            --stack-name jsonApiStack \
            --capabilities CAPABILITY_IAM \
            --parameter-overrides \
              DOCKERUSER=${{ secrets.DOCKERUSER }} \
              DOCKERPASS=${{ secrets.DOCKERPASS }} \
              IMAGETAG=${{ vars.IMAGE_TAG }}
              HAPROXYPORT=${{ vars.HAPROXY_PORT }}
              APIPORT=${{ vars.API_PORT }}
              HAPROXYSTATSPORT=${{ vars.HAPROXY_STATS_PORT }}
              HAPROXYRUNAPIPORT=${{ vars.HAPROXY_RUN_API_PORT }}
              HAPROXYVERSION=${{ vars.HAPROXY_VERSION }}
              REGISTRYURL=${{ vars.REGISTRY_URL }}
              ENVIRONMENT=QA
  deploy-manual:
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'workflow_dispatch' && (
        (github.event.inputs.environment == 'prod' && github.ref == 'refs/heads/main') ||
        (github.event.inputs.environment != 'prod')
      )    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy CloudFormation Stack
        run: |
          aws cloudformation deploy \
            --template-file cloudformation-template.yaml \
            --stack-name jsonApiStack \
            --capabilities CAPABILITY_IAM \
            --parameter-overrides \
              DOCKERUSER=${{ secrets.DOCKERUSER }} \
              DOCKERPASS=${{ secrets.DOCKERPASS }} \
              IMAGETAG=${{ inputs.image_tag }}
              HAPROXYPORT=${{ vars.HAPROXY_PORT }}
              APIPORT=${{ vars.API_PORT }}
              HAPROXYSTATSPORT=${{ vars.HAPROXY_STATS_PORT }}
              HAPROXYRUNAPIPORT=${{ vars.HAPROXY_RUN_API_PORT }}
              HAPROXYVERSION=${{ vars.HAPROXY_VERSION }}
              REGISTRYURL=${{ vars.REGISTRY_URL }}
              ENVIRONMENT=${{ github.event.inputs.environment }}