name: Run Pytest Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.11.0

    - name: Install dependencies
      run: pip install -r requirements/dev.txt
    
    - name: create data directory
      run: mkdir data
      
    - name: Run coverage  & pytest
      run: ENVIRON="test" coverage run -m pytest

